<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ysq.printer">

    <uses-permission android:name="android.permission.BLUETOOTH" />

    <!-- 专门针对商米 -->
    <uses-permission android:name="android.permission.CLOUDPOS_MID_PRINTER" />
    <uses-permission android:name="android.permission.CLOUDPOS_MID_ICCARD" />
    <uses-permission android:name="android.permission.CLOUDPOS_MID_SERIALPORT" />
    <uses-permission android:name="android.permission.CLOUDPOS_MID_SYSTEMDEV" />
    <uses-permission android:name="android.permission.CLOUDPOS_MID_PEDESTAL" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".LklPrinterService" />

        <service android:name=".ChinaumsPrinterService" />

        <service android:name=".SunmiscPrinterService" />

        <service android:name=".BluetoothPrinterService" />
    </application>

</manifest>